.applause-feedback
    position: absolute !important
    right: .3rem
    bottom: 4rem
    width: calc(100vw - .6rem)
    .tippy-box
        margin: auto
        display: inline-block
        background-color: tomato
        color: yellow
        font-size: 1rem
        padding: .3rem .6rem
