@import '../base/variables'

button:not([class^='mapboxgl-ctrl-']):not(.light-icon-button):not(.toast-close),
.button
    background: $button-background
    color: #fff !important
    padding: 0.4rem 1rem 0.5rem
    @media (max-width: 1024px)
        padding: 0.1rem 0.5rem 0.2rem
    border-radius: 0 $border-radius-lg 0 $border-radius-lg
    cursor: pointer
    display: inline-block
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2)
    transition: all 0.2s ease-in
    &.critical
        background: #973737
    &[disabled],
    &.disabled
        background: #979797 !important
        cursor: not-allowed
    img.icon
        filter: $filter-white
        vertical-align: -0.13rem
        display: inline-block
        margin-right: 0.5rem
    &:not([disabled]):hover,
    &:not([disabled]):focus
        background: $button-background-hover
    &.critical:not([disabled]):hover,
    &.critical:not([disabled]):focus
        background: #4f2323

.light-icon-button
    img.icon
        filter: $filter-button-background
        transition: all 0.2s ease-in
    &:hover,
    &:focus
        img.icon
            filter: $filter-button-background-hover

a.button
    text-decoration: none !important

input:not([type='radio']):not([type='checkbox'])
    display: block
    padding: 0.5rem
    width: 100%
    margin: 0.5rem 0
    border: 1px solid #cdcdcd
    border-radius: 0 $border-radius-lg 0 $border-radius-lg
    box-shadow: 0 0 2px rgba(114, 114, 114, 0.46)
    transition: all 0.2s ease-in
    &.invalid
        border: 1px solid #de2828
        box-shadow: 0 0 2px rgba(255, 0, 0, 0.36)
    &:not(.invalid):focus
        border: 1px solid #636363
        box-shadow: 0 0 2px rgba(83, 83, 83, 0.46)
    &:focus
        outline: none /* reset */

label
    display: block
    color: #808080
    &.checkbox
        display: inline-block
        margin: 0 0 0 0.5rem
