@use "../base/variables";

.mr-3 {
    margin-right: 0.3rem !important;
}

.mr-9 {
    margin-right: 0.9rem !important;
}

.ml-3 {
    margin-left: 0.3rem !important;
}

.ml-9 {
    margin-left: 0.9rem !important;
}

.mt-3 {
    margin-top: 0.3rem !important;
}

.m-30 {
    margin: 3rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.critical-error {
    color: #f00;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

.vat * {
    vertical-align: top;
}

.vatb * {
    vertical-align: text-bottom;
}

.large-screen {
    display: inline;
}

.small-screen {
    display: none;
}

@media (width <= 768px) {
    .large-screen {
        display: none;
    }

    .small-screen {
        display: inline;
    }
}
