@import '../base/variables'

.mr-3
    margin-right: 0.3rem !important

.ml-3
    margin-left: 0.3rem !important

.ml-9
    margin-left: 0.9rem !important

.mt-3
    margin-top: 0.3rem !important

.m-30
    margin: 3rem !important

.mb-3
    margin-bottom: 0.3rem !important

.p-0
    padding: 0 !important

.hide
    display: none !important

.invisible
    visibility: hidden

.text-center
    text-align: center

.text-right
    text-align: right

.critical-error
    color: #f00

.float-right
    float: right

.flex
    display: flex

.vab *
    vertical-align: bottom

.vatb *
    vertical-align: text-bottom

.round-corners
    border-radius: 0 $border-radius-lg 0 $border-radius-lg
