@use "../base/variables";

.mr-3 {
    margin-right: 0.3rem;
}

.mr-9 {
    margin-right: 0.9rem;
}

.ml-3 {
    margin-left: 0.3rem;
}

.mt-3 {
    margin-top: 0.3rem;
}

.m-30 {
    margin: 3rem;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.p-0 {
    padding: 0;
}

.pl-0 {
    padding-left: 0;
}

.invisible {
    visibility: hidden;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.critical-error {
    color: #f00;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

.vat * {
    vertical-align: top;
}

.vatb * {
    vertical-align: text-bottom;
}

.small-screen {
    display: none;
}

@media (width <= 768px) {
    .small-screen {
        display: inline;
    }
}
