@use "variables";

body,
html {
    line-height: variables.$text-line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: variables.$global-font-size;

    @media (width <= 1024px) {
        font-size: calc(#{variables.$global-font-size} / 1.15);
    }
}

h1 {
    padding-top: variables.$h1-padding-top;
    padding-bottom: variables.$p-vertical-margin;
    line-height: variables.$h1-line-height;
    font-size: variables.$h1-font-size;
    color: variables.$h1-color;
    border-bottom: variables.$h1-border-bottom-width solid variables.$h1-border-bottom-color;

    @media (width <= 1024px) {
        padding-top: calc(#{variables.$h1-padding-top} / 2);
        font-size: calc(#{variables.$h1-font-size} / 1.1);
    }
}

h3 {
    margin-top: 1.1rem;
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
}

p {
    margin: variables.$p-vertical-margin 0;
}

ul {
    list-style: none;
}

.tippy-box img.icon {
    filter: variables.$filter-white;
}
