@import 'base/base'
@import 'base/helpers'
@import 'base/typography'
@import 'base/variables'
@import 'components/captcha'
@import 'components/icon'
@import 'components/modal'
@import 'layout/form'
@import 'layout/grid'
@import 'layout/navigation'
@import 'pages/about'
@import 'pages/lost'
@import 'pages/photo'
@import 'pages/story'
@import 'pages/stories'

/* Read ../fonts/asap/README.md */
@font-face
    font-family: 'MyBodyFont'
    src: url('../fonts/asap/ExploreWilder-regular-webfont.woff2') format('woff2')

/* The `font-weight` CSS property does not make the font as bold as desired */
@font-face
    font-family: 'MyBoldFont'
    src: url('../fonts/asap/ExploreWilder-bold-webfont.woff2') format('woff2')
