@use "../base/variables";

section#about {
    margin-top: variables.$nav-bar-height;
    overflow-y: auto;
    height: calc(100vh - #{variables.$nav-bar-height});

    .me {
        position: relative;
        margin-bottom: -0.5rem;

        img {
            max-width: 100%;
            box-shadow: 1px 2px 3px rgba(0 0 0 / 20%);
            border-radius: 0 variables.$border-radius-lg;
        }
    }
}

.bunch-of-icons ul li {
    list-style: none;
    display: inline-block;
    height: 2rem;
    margin: 0 calc(#{variables.$block-space} / 4) 0 calc(#{variables.$block-space} / 4);

    &:first-child {
        margin-left: 0;
    }

    img.icon {
        height: 2rem;
    }
}

.address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .copy-button {
        margin-bottom: -0.3rem;

        .icon {
            margin-left: 0.5rem;
            cursor: copy;
        }
    }

    input {
        width: 350px;
        margin-bottom: 0;
    }
}
