section.not-found {
    margin: 1rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        vertical-align: middle;
        text-align: center;
    }
}
