@use "../base/variables";

$minimal-photo-margin: calc(#{variables.$nav-bar-height} / 8);
$photo-description: calc(3 * #{variables.$global-font-size} + 0.4rem); /* 1 line photo title + 1 line story title */

#gallery {
    .goto-photo-screen-nav {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 33vw;
        height: 100vh;

        &.goto-prev-photo {
            left: 0;
            cursor: w-resize;
        }

        &.goto-next-photo {
            right: 0;
            cursor: e-resize;
        }
    }

    #current-photo {
        display: flex;
        justify-content: center;

        img {
            border-radius: variables.$border-radius-sm;
        }
    }

    @media not (width <= 1024px) {
        #current-photo {
            align-items: center;
            margin-top: calc(#{variables.$nav-bar-height} * 3 / 2);
            height: calc(100vh - 3 * #{variables.$nav-bar-height} - 1px);

            img {
                max-width: calc(100vw - #{variables.$nav-bar-height});
                max-height: calc(100vh - 3 * #{variables.$nav-bar-height} - 1px);
            }
        }
    }

    @media (width <= 1024px) and (not (orientation: landscape)) {
        #current-photo {
            $margin-top: calc(#{variables.$nav-bar-height} + #{$photo-description} + #{$minimal-photo-margin});

            margin-top: $margin-top;

            img {
                max-width: calc(100vw - 2 * #{$minimal-photo-margin});
                max-height: calc(100vh - #{$margin-top} - (#{variables.$nav-bar-height} + #{$minimal-photo-margin}));
            }
        }
    }

    @media (width <= 1024px) and (orientation: landscape) {
        #current-photo {
            align-items: center;
            margin-top: $minimal-photo-margin;
            height: calc(100vh - #{$photo-description} - 1.5 * #{$minimal-photo-margin});

            img {
                max-width: calc(100vw - 2.3 * #{variables.$nav-bar-height});
                max-height: 100%;
            }
        }
    }
}
