@import '../base/variables'

#gallery
    .goto-photo-screen-nav
        position: absolute
        z-index: 1
        top: 0
        width: 33vw
        height: 100vh
        &.goto-prev-photo
            left: 0
            cursor: w-resize
        &.goto-next-photo
            right: 0
            cursor: e-resize
    #current-photo
        display: flex
        justify-content: center
        align-items: center
        margin-top: calc(#{$nav-bar-height} * 3 / 2)
        $minimal-photo-margin: calc(#{$nav-bar-height} / 8)
        $photo-description: calc(3 * #{$global-font-size} + 0.4rem)
        img
            max-width: calc(100vw - #{$nav-bar-height})
            max-height: calc(100vh - 3 * #{$nav-bar-height} - 1px)
            border-radius: $border-radius-sm
        @media (max-width: 1024px)
            $photo-margin-top: calc(#{$nav-bar-height} + #{$photo-description})
            margin-top: $photo-margin-top
            img
                max-width: calc(100vw - 2 * #{$minimal-photo-margin})
                /* add extra nav-bar-height as quick fix https://stackoverflow.com/a/37113430 */
                max-height: calc(100vh - 2 * (#{$nav-bar-height} + #{$minimal-photo-margin}) - #{$photo-margin-top})
        @media (max-width: 1024px) and (orientation: landscape)
            margin-top: $minimal-photo-margin
            img
                max-width: calc(100vw - 2.3 * #{$nav-bar-height})
                max-height: calc(100vh - #{$minimal-photo-margin} - #{$photo-description})
