@import '../base/variables'

.period
    font-size: 1.05rem
    font-weight: bold
    margin-top: 0.5rem

.story-content
    margin-bottom: $global-font-size
    a
        /* Same color as text to avoid catching the eye on links, this is not a Wikipedia page. */
        color: $body-color
        &::after
            content: ' '
            display: inline-block
            width: 1.3rem
            height: 1rem
            margin-bottom: -0.1rem
            list-style: none
            background-size: contain
            background-repeat: no-repeat
            background-position-x: center
        &[data-story]::after
            background-image: url('../icons/book-outline.svg')
        &:not([data-story])::after
            background-image: url('../icons/open-outline.svg')

section#story
    margin-top: #{$nav-bar-height}
    overflow-y: auto
    height: calc(100vh - #{$nav-bar-height})
    hr
        max-width: 30%
    .map-extra
        margin-top: calc(#{$nav-bar-height} / 4)
        margin-bottom: calc(#{$block-space} + #{$nav-bar-height} / 2)
        #map
            border-radius: 0 $border-radius-lg 0 $border-radius-lg
            box-shadow: 0 0 3px rgba(114, 114, 114, 0.46)
            .mapboxgl-ctrl-group
                border-radius: 0 $border-radius-lg 0 $border-radius-lg
                button:disabled
                    /* the 'important' is to overwrite the :active */
                    cursor: not-allowed !important
                button:active
                    box-shadow: none
                    .mapboxgl-ctrl-icon
                        filter: $filter-button-background
            .mapboxgl-canvas-container
                opacity: 0
                transition: opacity 0.4s linear
                &.full-opacity
                    opacity: 1
                &:not(.mapboxgl-interactive)
                    cursor: not-allowed
            .mapboxgl-ctrl-scale
                font-family: 'MyBodyFont', sans-serif
                font-size: 0.8rem
            .mapboxgl-ctrl button.mapboxgl-ctrl-my-autopilot .mapboxgl-ctrl-icon,
            .mapboxgl-ctrl button.mapboxgl-ctrl-my-layer .mapboxgl-ctrl-icon,
            .mapboxgl-ctrl button.mapboxgl-ctrl-fit .mapboxgl-ctrl-icon
                width: 80% !important
                height: 80% !important
                margin: auto
                &.play-autopilot
                    background-image: url('../icons/map/helicopter.svg')
                &.pause-autopilot
                    background-image: url('../icons/pause-outline.svg')
                &.loading-autopilot
                    background-image: url('../icons/hourglass-outline.svg')
                    animation: hourglass 4s ease infinite
                &.rewind-autopilot
                    background-image: url('../icons/play-back-outline.svg')
                &.fit-view-to-track
                    background-image: url('../icons/magnet-outline.svg')
                &.faster
                    background-image: url('../icons/map/rabbit.svg')
                &.slower
                    background-image: url('../icons/map/snail.svg')
                &.select-layer
                    background-image: url('../icons/layers.svg')
            .tooltip-inside-map
                font-weight: bold
                font-size: 0.9rem
                .mapboxgl-popup-tip
                    visibility: hidden /* hide unwanted arrow */
                .mapboxgl-popup-content
                    padding: 0.5rem
                    border-radius: 0 $border-radius-lg 0 $border-radius-lg
            width: 100%
            /* the map does not load if too small, the minimum should still fit all buttons */
            height: calc(max(60vh - #{$nav-bar-height} - #{$block-space}, 340px))
            background: #eae8e6 /* for the user to know that something will appear (instead of just a big gap) */
        p.attributions
            font-size: 0.8rem
            margin-top: 0.4rem
            padding-bottom: 0.4rem
            line-height: 1.2rem
            text-align: right
        button.cluster-close-button
            position: absolute
            z-index: 2
            margin: 0.5rem
            border: 1px solid white
            border-radius: 0 0 $border-radius-lg 0
            box-shadow: none !important
            padding: 0.2rem 0.6rem 0.3rem !important
            font-weight: 700
        .cluster-content
            position: absolute
            z-index: 1
            margin: 0.5rem
            max-height: calc(100% - 0.5rem * 2 - 2rem)
            min-height: calc(200px + 0.5rem * 3)
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2)
            min-width: calc(300px + 0.5rem * 2)
            @media (max-width: 500px)
                min-width: calc(200px + 0.5rem * 2)
            background: white
            overflow-y: auto
            &.loading-cluster
                display: flex
                justify-content: center
                align-items: center
            ul
                display: flex
                flex-flow: column wrap
                justify-content: flex-start
                gap: 0.5rem
                margin: 0.5rem
                a, li
                    display: inline-flex
            img.cluster-thumbnail
                border-radius: 0 $border-radius-lg 0 $border-radius-lg
                box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2)
                @media (max-width: 500px)
                    width: 200px
    .chart-container
        padding-top: 1rem /* the legend on the bottom adds space that needs to be compensated on the top */
        width: 100%
        height: calc(max(40vh - 1.5 * #{$block-space} - #{$nav-bar-height} / 2, 200px))

.mapboxgl-map
    /* override Mapbox defaults */
    font: $global-font-size 'MyBodyFont', sans-serif !important

.map-thumbnail
    transition: none !important
    min-width: 3rem
    min-height: 3rem
    text-align: center
    display: table
    &:focus
        border: 0
    img
        margin-bottom: -4px
    .loading-icon
        vertical-align: bottom
        display: table-cell

button.mapboxgl-popup-close-button
    margin: 1px
    padding: 0.1rem 0.5rem 0.3rem !important
    box-shadow: none !important
    transition: none !important
    border: 1px solid white
