@import '../base/variables'

#stories
    margin-top: #{$nav-bar-height}
    overflow-y: auto
    height: calc(100vh - #{$nav-bar-height})
    .lazy-thumbnail-container
        img, span
            margin-top: calc(#{$p-vertical-margin} / 2)
            width: 300px
            height: 200px
            display: inline-block
        img
            border-radius: 0 $border-radius-lg 0 $border-radius-lg
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2)
            /* Only thumbnails are faded-in because animations on large images are not really smooth. */
            animation: fade-in 0.3s ease
        text-align: center
        @media (min-width: 1024px)
            text-align: right
            img, span
                /* align to the letters' top */
                margin-top: calc(#{$p-vertical-margin} * #{$text-line-height})
    .period
        margin-top: $p-vertical-margin
    .appetizer
        font-style: italic
    .total-photo
        margin-top: -0.4rem
        font-size: 0.9rem
    .story-preview
        height: 450px /* enough space to handle small screens, fixed for helping scroll back */
        @media (min-width: 1024px)
            height: calc(2 * #{$p-vertical-margin} * #{$text-line-height} + 200px)
